bin
obj
packages
*.suo
*.pyc
*~
.vscode
paket.dependencies
paket.dependencies.locked
.vs
UpgradeLog.htm

Samples/Java/swis-client/\.settings/

packages\.inputs

paket-files/

\.paket/

*.nupkg
*.user
