<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SwqlStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SwqlStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <SwqlStudio.Properties.Settings>
      <setting name="PreviousServers" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousUsers" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousServerType" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EntityGroupingMode" serializeAs="String">
        <value>ByNamespace</value>
      </setting>
      <setting name="AutocompleteEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PromptToSaveOnClose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowObsolete" serializeAs="String">
        <value>True</value>
      </setting>
    </SwqlStudio.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SwqlStudio.Properties.Settings>
      <setting name="OperationTimeout" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DefaultInfoServicePort" serializeAs="String">
        <value>17777</value>
      </setting>
      <setting name="OrionEndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/Orion/ssl</value>
      </setting>
      <setting name="EOCEndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/EOC</value>
      </setting>
      <setting name="IPAMEndpointPath" serializeAs="String">
        <value>SW/InformationService/IPAM</value>
      </setting>
      <setting name="NCMEndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/Cirrus/ssl</value>
      </setting>
      <setting name="OrionHttpsEndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/OrionBasic</value>
      </setting>
      <setting name="DefaultInfoServiceHttpsPort" serializeAs="String">
        <value>17778</value>
      </setting>
      <setting name="NCMForwarderEndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/NCMIntegration/ssl</value>
      </setting>
      <setting name="NCMWindowsEndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/Cirrus</value>
      </setting>
      <setting name="OrionEndpointPathCompressed" serializeAs="String">
        <value>SolarWinds/InformationService/Orion/ssl/compressed</value>
      </setting>
      <setting name="OrionEndpointPathAD" serializeAs="String">
        <value>SolarWinds/InformationService/Orion/ad</value>
      </setting>
      <setting name="OrionEndpointPathADCompressed" serializeAs="String">
        <value>SolarWinds/InformationService/Orion/ad/compressed</value>
      </setting>
      <setting name="ShowCompressedModes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrionEndpointPathCertificate" serializeAs="String">
        <value>SolarWinds/InformationService/Orion/certificate</value>
      </setting>
      <setting name="CertificateSubjectName" serializeAs="String">
        <value>SolarWinds-Orion</value>
      </setting>
      <setting name="OrionV3EndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/v3/Orion/ssl</value>
      </setting>
      <setting name="OrionV3HttpsEndpointPath" serializeAs="String">
        <value>SolarWinds/InformationService/v3/OrionBasic</value>
      </setting>
      <setting name="OrionV3EndpointPathAD" serializeAs="String">
        <value>SolarWinds/InformationService/v3/Orion/ad</value>
      </setting>
      <setting name="OrionV3EndpointPathADCompressed" serializeAs="String">
        <value>SolarWinds/InformationService/v3/Orion/ad/compressed</value>
      </setting>
      <setting name="OrionV3EndpointPathCompressed" serializeAs="String">
        <value>SolarWinds/InformationService/v3/Orion/ssl/compressed</value>
      </setting>
      <setting name="OrionV3EndpointPathCertificate" serializeAs="String">
        <value>SolarWinds/InformationService/v3/Orion/certificate</value>
      </setting>
      <setting name="JavaEndpointPath" serializeAs="String">
        <value>services/InformationService</value>
      </setting>
      <setting name="DefaultJavaInfoServicePort" serializeAs="String">
        <value>8443</value>
      </setting>
      <setting name="UseActiveSubscriber" serializeAs="String">
        <value>True</value>
      </setting>
    </SwqlStudio.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <services>
      <service name="SwqlStudio.Subscriptions.NotificationSubscriber" behaviorConfiguration="NotificationSubscriber">
        <endpoint address="Subscriber" binding="netTcpBinding" bindingConfiguration="NotificationSubscriber" contract="SolarWinds.InformationService.Contract2.PubSub.INotificationSubscriber">
          
        </endpoint>
        <endpoint address="Subscriber" binding="basicHttpBinding" bindingConfiguration="BasicInteropBinding" contract="SolarWinds.InformationService.Contract2.PubSub.INotificationSubscriber">
          <identity>
            <certificateReference x509FindType="FindBySubjectDistinguishedName" storeName="My" storeLocation="LocalMachine" findValue="CN=SolarWinds-Orion"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="SolarWinds.InformationService.Contract2.Bindings.GZipMessageEncodingElement, SolarWinds.SDK.Swis.Contract"/>
      </bindingElementExtensions>
    </extensions>
    <client>
      <endpoint address="net.tcp://localhost:17777/SW/InformationService/Orion/ssl" binding="netTcpBinding" bindingConfiguration="TransportMessage" contract="SolarWinds.InformationService.Contract.IInformationService" name="OrionTcpBinding_InformationService"/>
      <endpoint address="net.tcp://localhost:17777/SW/InformationService/Orion/ssl/compressed" binding="customBinding" bindingConfiguration="CompressedUserName" contract="SolarWinds.InformationService.Contract2.IInformationService" name="OrionTcpBindingCompressed"/>
      <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/Orion/ssl" binding="netTcpBinding" bindingConfiguration="TransportMessage" contract="SolarWinds.InformationService.Contract2.IInformationService" name="OrionTcpBinding_InformationServicev2"/>
      <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/Orion/ad" binding="netTcpBinding" bindingConfiguration="Windows" contract="SolarWinds.InformationService.Contract2.IInformationService" name="OrionWindowsTcpBinding"/>
      <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/Orion/certificate" behaviorConfiguration="OrionCertificateBehavior" binding="netTcpBinding" bindingConfiguration="Certificate" contract="SolarWinds.InformationService.Contract2.IInformationService" name="OrionCertificateTcpBinding"/>
      <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/Orion/ad/compressed" binding="customBinding" bindingConfiguration="CompressedWindows" contract="SolarWinds.InformationService.Contract2.IInformationService" name="OrionWindowsTcpBindingCompressed"/>
      <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/Cirrus/ssl" binding="netTcpBinding" bindingConfiguration="TransportMessage" contract="SolarWinds.InformationService.Contract2.IInformationService" name="NCMTcpBinding_InformationServicev2"/>
      <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/Cirrus" binding="netTcpBinding" bindingConfiguration="Windows" contract="SolarWinds.InformationService.Contract2.IInformationService" name="NCMWindowsTcpBinding_InformationServicev2"/>
      <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/EOC" binding="netTcpBinding" bindingConfiguration="Windows" contract="SolarWinds.InformationService.Contract2.IInformationService" name="EOCTcpBinding_InformationServicev2"/>
      <endpoint address="https://localhost:17777/SolarWinds/InformationService/OrionBasic" binding="basicHttpBinding" bindingConfiguration="SWIS.Over.HTTP" contract="SolarWinds.InformationService.Contract2.IInformationService" name="OrionHttpBinding_InformationServicev2"/>
      <endpoint address="https://localhost:17778/swis/services/InformationService" binding="wsHttpBinding" bindingConfiguration="javaBinding" contract="SolarWinds.InformationService.Contract2.IInformationService" name="JavaSoapBinding_InformationServicev2"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicInteropBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="SWIS.Over.HTTP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CompressedUserName" openTimeout="00:10:00" sendTimeout="00:10:00">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding"/>
          <transactionFlow/>
          <security authenticationMode="SecureConversation" requireSecurityContextCancellation="true">
            <secureConversationBootstrap authenticationMode="UserNameOverTransport"/>
          </security>
          <sslStreamSecurity requireClientCertificate="false"/>
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
        <binding name="CompressedWindows">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding"/>
          <transactionFlow/>
          <windowsStreamSecurity protectionLevel="EncryptAndSign"/>
          <tcpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="Windows" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="Certificate" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="TransportMessage" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NPM.WindowsClientOverTcp.ToOrionBusinessLayer" sendTimeout="00:05:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="SWOIS.Over.TCP" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NotificationSubscriber" portSharingEnabled="true">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="javaBinding" maxReceivedMessageSize="2147483647" allowCookies="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NotificationSubscriber">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="SwqlStudio.IndicationListerUsernameValidator, SwqlStudio"/>
          </serviceCredentials>
          <serviceMetadata httpsGetEnabled="true" httpsGetUrl=""/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>        
        <behavior name="OrionCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="SwqlStudio.CustomCertificateValidator"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %-5level: %message - %logger{1}%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${ALLUSERSPROFILE}\Application Data\SolarWinds\Logs\SwqlStudio.log"/>
      <appendToFile value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <!--<appender-ref ref="ConsoleAppender" />-->
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
