        div.corner {
            background-color: silver;
            bottom: 0;
            cursor: se-resize;
            height: 5px;
            position: absolute;
            right: 0;
            width: 5px;
            z-index: 100;
        }

        div.outerDiv {
            width: 300px;
            height: 100px;
            position: relative; 
            border-width: 1px; 
            border-color: #aaaaaa; 
            border-style: solid; 
        }

        .txtArea {
            width: 295px;
            height: 95px;
            border-style: none;
            overflow: auto;
            outline: none;
            word-wrap: hyphenate;
        }