/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f99d1c;
  --ifm-color-primary-dark: #f39006;
  --ifm-color-primary-darker: #e58806;
  --ifm-color-primary-darkest: #bd7005;
  --ifm-color-primary-light: #faa937;
  --ifm-color-primary-lighter: #faae44;
  --ifm-color-primary-lightest: #fbc06d;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
